@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

.tt{
    -fx-font-family: "Rubik Spray Paint";
}

.label:hover{
    -fx-text-fill: rgba(8, 141, 224, 0.99);
    -fx-cursor: hand;
    -fx-font-size: 2.5em;
    -fx-font-family: "Rubik Spray Paint", sans-serif;
}
.button:hover{
    -fx-text-fill: rgba(8, 141, 224, 0.99);
    -fx-cursor: hand;
    -fx-font-family: "Rubik Spray Paint", sans-serif;
}
.inputOne{
    -fx-font-family: "Rubik Spray Paint";
    -fx-text-fill: #fcd434 ;
}
.inputTwo{
    -fx-font-family: "Rubik Spray Paint";
    -fx-text-fill:#38fffc ;
}
.inputThree{
    -fx-font-family: "Rubik Spray Paint";
    -fx-text-fill:#fc0404 ;
}
.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.centeredTextArea .scroll-pane .content .text {
    -fx-text-alignment: center;
}
.combo-box-popup {
    -fx-background-color: transparent;
}

.combo-box .list-cell:selected{
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
}
.checkone .box{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: yellow;
    -fx-border-radius: 5px;
}
.checkone:selected .mark{
    -fx-background-color: yellow;
}
.checktwo .box{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: #38fffc;
    -fx-border-radius: 5px;
}
.checktwo:selected .mark{
    -fx-background-color: #38fffc;
}
.checkthree .box{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: #ee0b0b;
    -fx-border-radius: 5px;
}
.checkthree:selected .mark{
    -fx-background-color: #ee0b0b;
}